body {
  margin-top: 80px;
  background-color: grey;
  color: black;
}

h1{
  text-align: center;
  font-size: 43px;
  margin-top: -30px;
  font-weight: 100;
  font-family: montserrat, 'sans-serif';
  color: white;
  font-style: italic;
}

h4{
  text-align: center;
  font-style: italic;
}

button {
  border-radius: 7px;
  margin-top: 20px;
  border: 2px solid black;
  margin-bottom: 50px;
  color: black;
  background-color: grey;
  transition: 1s ease;
}

button:hover{
  border: 2px solid black;
  transition: 1s ease;
  transform: scale(1.1);
}

form {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

input {
  height: 30px;
}


.main input {
  height: 30px;
  width: 200px;
  border: 2px solid black;
}

body {
  background-image: url("undraw_newspaper_k72w.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-position: 120%;
}

h3 {
  text-align: center;
  font-family: cursive;
  color: #282c34;
}

h2 {
  font-family: cursive;
  font-weight: 100;
  color: #282c34;
  text-align: center;
  font-size: 30px;
}

img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: 300px;
  border-radius: 10px;

}

li{
  text-align: left;
  font-size: 13px;
}

p{
  width: 97%;
  text-align: left;
}
